.card {
  display: flex;
  width: 100%;
  height: 10rem;
  align-items: start;
}

.card img {
  width: 5rem;
  margin-right: 30px;
}

.card div {
  display: flex;
  flex-direction: column;
  float: right;
  text-align: left;
}

.card div h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: large;
}

.card div p {
  margin-block: 0px;
  margin-bottom: 15px;
  font-size: large;
}

.card div a {
  margin-block: 0px;
  margin-bottom: 15px;
  font-size: large;
  color: blue;
  text-decoration: none;
}
