.search {
  background: #dadbf1;
  font-size: 78px;
  letter-spacing: -4px;
  padding-block: 100px;
}

.formholder {
  width: 40%;
  margin: auto;
  margin-block: 3rem;
}

.form {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.form:hover button {
  border-color: blue;
}

.form:hover input {
  border-color: blue;
}

.form:hover button svg {
  fill: blue;
}

.form button {
  display: flex;
  background: white;
  height: 199%;
  width: auto;

  border-color: black;
  border-width: 1px 1px 1px 0px;
  border-radius: 5%;
}

.form button svg {
  height: 2rem;
  vertical-align: middle;
  padding-right: 10px;

  display: block;
  margin: auto;
}

.input {
  background: white;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-block: 15px;
  font-size: 20px;

  border-color: black;
  border-width: 1px 0px 1px 1px;
  border-radius: 5px 0px 0px 5px;
  margin-right: -2rem;
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .formholder {
    width: 90%;
  }
}
