.footer {
  color: white;
  background-color: black;
  columns: 4;
  padding-left: 8rem;
  padding-right: 20%;
  padding-top: 3rem;
  padding-bottom: 200px;
  text-align: left;
}

.list {
  break-inside: avoid;
  height: 12rem;
}

.list h2 {
  font-weight: 600;
  margin-top: 0;
}

.list h4 {
  font-weight: 100;
  margin-block: 5px;
}

.list h4:hover {
  text-decoration: underline;
}

.contact {
  font-weight: bolder !important;
  margin-top: 30px !important;
}

@media screen and (max-width: 1200px) {
  .footer {
    columns: 2;
  }
}
